/* Fisierul custom.css */

/* Stilurile pentru bara teal */
.teal-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dafda6;
    margin-bottom: 10px;
}

.teal-bar a {
    display: inline-block;
    color: #131e75;
    padding: 10px;
}

.teal-bar a:hover {
    background-color: #ff8c00;
}

.teal-bar i {
    margin-right: 5px;
}

/* Stilurile pentru titlu si subtitlu */
.title {
    color: purple;
    text-align: center;
}

.subtitle {
    color: #00ff3c;
    text-align: center;
}

/* Stilurile pentru card */
.card {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.card-body {
    padding: 10px;
}

/* Stilurile pentru tabel */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
}

/* Adauga aici alte stiluri personalizate */
