<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin - Audio Albums</title>
</head>
<body>
<h1>Audio Albums Administration</h1>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Artist Id</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="audioalbum : ${audioalbums}">
    <td th:text="${audioalbum.id}"></td>
    <td th:text="${audioalbum.titlu_album}"></td>
    <td th:text="${audioalbum.id_artist}"></td>
    <td>
      <form th:action="@{/admin-audioalbums/delete}" th:object="${audioalbum}" method="post">
        <input th:value="${audioalbum.id}" th:name="id" type="hidden">
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<h2>Add new Audio Album</h2>
<form method="post" action="/admin-audioalbums/add">
  <input type="text" name="Titlu" placeholder="Titlu album" required/>
  <input type="text" name="id_artist" placeholder="ID Artist" required/>
  <input type="text" name="An" placeholder="An album" required/>
  <button type="submit">Adaugă Artist</button>
</form>
</form>
</body>
</html>
